.main {
  margin-left: 25%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: white;
  font-family: sans-serif;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main-section {
  position: top;
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.heading {
  text-align: center;
  font-size: 25px;
}

.heading p {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 15px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.icons {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 5px;
    max-width: 10px;
    cursor: pointer;
  }

.fa-github {
    background: black;
    color: white;
    border-radius: 5px;
    max-width: 10px;
    cursor: pointer;
}

img#face {
    border-radius: 50%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 900;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #54B689;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: sans-serif;
}


.sidenav h2 {
  padding-left: 10%;
  text-align:left;
  color: whitesmoke;
}

.sidenav h3 {
  font-weight: normal;
  text-align: center;
  color: whitesmoke;
}

.sidenav h2:hover {
  color: black;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 6px 14px;
  margin-top: 10px;
}

a:hover {
  background-color: lightgrey;
  color: black;
}

.previous {
  background-color: #54B689;
  color: white;
  border-radius: 50%;
  margin-left: 44%;
}

.next {
  background-color: #54B689;
  color: white;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-auto-rows: minmax(100px, 150px);
  background-color: white;
  gap: 10px;
  
}

.grid-container-resume {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  grid-auto-rows: minmax(100px, 200px);
  background-color: white;
  gap: 10px;
}

.grid-item-resume {
  background-color: whitesmoke;
  grid-column: 1;
  grid-row: 1;
  
}

.grid-item-1 {
  background-color: whitesmoke;
  grid-column: 1;
  grid-row: 1;
}

.grid-item-1 p {
  margin-top: 2px;
  float: right;
  width: 50%;
  font-size: 15px;
  text-align: left;
  color: rgb(75, 75, 75);
}

.grid-item-1 h3 {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: rgb(75, 75, 75);
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.grid-item-2 {
  background-color: whitesmoke;
  grid-column: 2;
  grid-row: 1;
}

.grid-item-2 p {
  margin-top: 2px;
  float: right;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.grid-item-2 h3 {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  text-decoration: underline;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.grid-item-3 {
  background-color: whitesmoke;
  grid-column: 3;
  grid-row: 1;
  border-radius: 10px;
}

.grid-item-3 p {
  margin-top: 2px;
  float: right;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.grid-item-3 h3 {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  text-decoration: underline;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.grid-item-4 {
  background-color: whitesmoke;
  grid-column: 1;
  grid-row: 2;
  border-radius: 10px;

}

.grid-item-4 p {
  margin-top: 2px;
  float: right;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.grid-item-4 h3 {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  text-decoration: underline;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.grid-item-5 {
  background-color: whitesmoke;
  grid-column: 2;
  grid-row: 2;
  border-radius: 10px;

}


.grid-item-5 p {
  margin-top: 2px;
  float: right;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.grid-item-5 h3 {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  text-decoration: underline;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.grid-item-6 {
  background-color: whitesmoke;
  grid-column: 3;
  grid-row: 2;
  border-radius: 10px;

}

.grid-item-6 p {
  margin-top: 2px;
  float: right;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.grid-item-6 h3 {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: normal;
  text-decoration: underline;
  font-size: 25px;
  float: right;
  width: 50%;
  text-align: left;
  cursor: pointer;
}

.projects-div h3 {
  text-align: center;
}

.blogs-div h3 {
  text-align: center;
}

.resume-div h3 {
  text-align: center;
}

div.gallery {
  float: left;
  width: 50%;
  
}

div.gallery-resume {
  float: left;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery-resume :hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

div.gallery-resume img {
  width: 100%;
  height: auto;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
 

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}